.card {
  background-color: var(--color-bg);
  border-radius: 0;
  box-shadow: 0 0 6px #00000080;
  color: var(--color-text);
  margin-bottom: 0.8rem;
}

.card.is-compact {
  & .card-content {
    padding: 0.2rem;

    .tabs li a {
      padding: 0.3rem 0.6rem;
    }
    .tabs ul {
      margin: 0;
    }
  }
}

.card-header-title {
  color: var(--color-text);
}

.card-header {
  background-color: var(--color-bg-alt);
}
