@import '~bulma';

:root {
  --color-worst: #8a0000;
  --color-worst-alt: #640000;
  --color-bad: #8a7100;
  --color-bad-alt: #644100;
  --color-ok: #00758a;
  --color-ok-alt: #005f70;
  --color-good: #00478a;
  --color-good-alt: #003464;
  --color-epic: #127905;
  --color-epic-alt: #0e5205;
  --color-link: #29bb15;
  --color-bg: #383838;
  --color-bg-alt: #292929;
  --color-text: #ececec;
  --color-heading: #157ebb;
  --color-border: #000000;
  --color-button: #157ebb;
}

* {
  color: var(--color-text);
}

html, body {
  background: var(--color-bg);
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading) !important;
}

.table, .navbar {
  background: transparent;
  color: var(--color-text);
}

a {
  &:hover {
    color: var(--color-link);
  }
}

.content table thead th { color: var(--color-text); }
.content table tbody td { border: none; }

.monthly { --background-color: var(--color-epic); --hover-color: var(--color-epic-alt); }
.quarterly { --background-color: var(--color-good); --hover-color: var(--color-good-alt); }
.annual, .annual_interim, .annually, .bi-annually { --background-color: var(--color-ok); --hover-color: var(--color-ok-alt); }
.no-dividend { --background-color: var(--color-bad); --hover-color: var(--color-bad-alt); }
.temporarily_suspended { --background-color: var(--color-worst); --hover-color: var(--color-worst-alt); }

.monthly, .quarterly,
.temporarily_suspended,
.annual, .annually, .annual_interim, .bi-annually,
.no-dividend
{
  background-color: var(--background-color);
  color: var(--color-text);

  &:hover { background-color: var(--hover-color); }
}

.stock-table {
  margin-bottom: 1em;
  font-family: 'Hack', 'Ubuntu Mono', monospace;
}

.pie-forecast-controls {
  td {
    padding: 0 0 0.1rem 0 !important;
  }

  input {
    width: 100%;
    border: 1px solid var(--color-border);
    font-size: 1rem;
  }
}

button, input {
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 0 !important;
}

button, button.is-success {
  background-color: var(--color-button) !important;
}

.select select {
  border-color: var(--color-border);
  border-radius: 0 !important;
}

input { background-color: var(--color-bg-alt); }

@import './base/table.scss';
@import './base/form.scss';
@import './component/card.scss';
@import './component/navbar.scss';
@import './highcharts.scss';

.tabs {
  ul {
    border-bottom: none;
  }

  li.is-active {
    font-weight: 600;
  }

  li:not(.is-active) a {
    color: var(--color-ok);

    &:hover {
      color: var(--color-link) !important;
    }
  }
}

.label {
  color: var(--color-text);
}
